{% extends 'base.html.twig' %}

{% block title %}
	S'inscrire{{ parent() }}
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<div class="row mt-5">
		<div class="col-md-6 mx-auto">
			<div class="container">
				<h1>Mot de passe oublié</h1>
				<div class="mt-5">
					<form action="{{ path('forgotten_password') }}" method="post">
						<div class="mb-3">
							<label for="username" class="form-label">Pseudo</label>
							<input type="text" id="username" name="_username" class="form-control">
							<input type="hidden" name="token" value="{{ csrf_token('reset-password') }}">
						</div>
						<div class="mb-3">
							<button type="submit" class="btn btn-primary mb-5 col-12">Demander un nouveau mot de passe</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
