{% extends 'base.html.twig' %}

{% block title %}
	Erreur 500{{ parent() }}
{% endblock %}

{% block body %}
	<div id="main">
		<div class="error">
			<h1>Erreur 500</h1>
			<h2>Erreur interne du serveur</h2>
		</div>
	</div>
{% endblock %}
