{% extends 'base.html.twig' %}

{% block title %}
	Erreur{{ parent() }}
{% endblock %}

{% block body %}
	<div id="main">
		<div class="error">
			<h1>Erreur</h1>
			<h2>Erreur non repertoriée</h2>
		</div>
	</div>
{% endblock %}
