{% apply inky_to_html|inline_css(source('styles/style.css')) %}

<p>Bonjour
	{{ user.username }},</p>
<p>Pour créer un nouveau mot de passe, vous devez d'abord pour vous rendre sur
	<a href="https://localhost:8000/nouveau-mot-de-passe/{{ token }}">cette page</a>.</p>
<p>Merci pour votre confiance</p>
<p>L'équipe Snowtrick</p>

{% endapply %}
